body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
.w3-row-padding img {
  margin-bottom: 12px;
}
.w3-sidebar {
  width: 120px;
  background: #222;
}
#main {
  margin-left: 120px;
}
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}
.error-message {
  color: red;
  font-size: 14px;
}
input[type="text"],
input[type="email"],
button[type="submit"] {
  transition: 0.5s ease-in-out;
}
input[type="text"]:hover,
input[type="email"]:hover,
button[type="submit"]:hover {
  box-shadow: 0 0 40px whitesmoke;
}
.color-dropdown {
  position: relative;
  display: inline-block;
}

.color-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 0;
  left: 100%;
}

.color-dropdown-content a {
  padding: 12px 16px;
  display: block;
}

.color-dropdown:hover .color-dropdown-content {
  display: block;
}
